@use '../../sass/variables'
@use '../../sass/mixins'
@use '../../sass/functions'


.forecast
	margin-bottom: functions.toRem(30)
	&-content
		box-shadow: variables.$box-shadow
	&-wrap
		@include mixins.flexCenter
	&-list
		display: flex
		column-gap: functions.toRem(20)
		margin-top: functions.toRem(30)
		padding-bottom: functions.toRem(15)
		overflow-x: auto
		scroll-snap-type: x proximity
		@include mixins.scrollBar
	&-btn
		&:not(:last-of-type)
			margin-right: functions.toRem(15)
		&.active
			background: green
			&:hover
				background: green
				opacity: .8
