@use '../../sass/variables'
@use '../../sass/mixins'
@use '../../sass/functions'


.current
	&-content
		box-shadow: variables.$box-shadow
		overflow: hidden
	&-city
		margin-bottom: functions.toRem(20)
		font-size: functions.toRem(20)
		font-weight: 700
	&-weather
		display: flex
		column-gap: functions.toRem(30)
		&__wrap
			width: 50%
			display: flex
			flex-direction: column
		&__temp
			@include mixins.flexCenter
			font-size: functions.toRem(80)
		&__icon
			max-width: functions.toRem(150)
		&__txt
			@include mixins.text
			text-align: center
		&__feel
			margin-bottom: functions.toRem(30)
			& span
				@include mixins.text
				&:not(:last-of-type)
					margin-right: functions.toRem(5)

.option
	@include mixins.flexCenter
	&:not(:last-of-type)
		margin-bottom: functions.toRem(10)
	&-icon
		margin-right: functions.toRem(10)
		fill: var(--color)
	&-txt
		@include mixins.text
		& .txt
			display: inline-block
			min-width: functions.toRem(120)

@media screen and (max-width: 575px)
	.current
		&-weather
			flex-direction: column
			&__wrap
				width: 100%
				&:nth-of-type(1)
					align-items: center
					flex-direction: initial
			&__txt
				margin-left: functions.toRem(30)

@media screen and (max-width: 420px)
	.current
		&-weather
			&__temp
				font-size: 10vw
			&__feel
				margin-bottom: functions.toRem(10)
				& span
					font-size: 5vw
			&__wrap
				&:nth-of-type(2)
					margin-top: functions.toRem(10)
			&__option
				& .option
					&-txt
						font-size: 4vw
