@import './src/sass/mixins'
@import './src/sass/functions'


.header
	&-content
		&.container
			@include flexCenter
			justify-content: space-around
			padding: toRem(20) toRem(15)
	&-title
		font-size: toRem(32)
		font-weight: 700
