@use '../../sass/mixins'
@use '../../sass/functions'
@use '../../sass/variables'

.search
	&-content
		@include mixins.flexCenter
		justify-content: center
		position: relative
		&.container
			max-width: functions.toRem(340)
	&-input
		width: 100%
		padding: functions.toRem(10) functions.toRem(35) functions.toRem(10) functions.toRem(10)
		height: functions.toRem(40)
		border-radius: functions.toRem(10)
	&-icon
		position: absolute
		top: 50%
		right: functions.toRem(25)
		transform: translate(0, -50%)
		width: functions.toRem(17)
		height: functions.toRem(17)
		opacity: .5
		cursor: pointer
	&-dropdown
		&__list
			position: absolute
			top: 100%
			left: 10px
			right: 10px
			margin-top: functions.toRem(5)
			max-height: functions.toRem(600)
			min-width: functions.toRem(470)
			overflow-y: auto
			background: var(--block-background-color)
			border-radius: functions.toRem(10)
			box-shadow: variables.$box-shadow
			z-index: 2
		&__item
			padding: functions.toRem(10) functions.toRem(15)
			cursor: pointer
			&:not(:last-of-type)
				border-bottom: 1px solid var(--color)
			&:hover
				background: var(--color)
				color: var(--block-background-color)
		&__city
			font-size: functions.toRem(16)
			font-weight: 600
		&__name
			font-size: functions.toRem(14)
			font-weight: 400
			opacity: .8

@media screen and (max-width: 650px)
	.search
		&-dropdown
			&__list
				min-width: unset
